

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url(../Assets/Images/backlogin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    overflow: hidden;
    
}


body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


header {
    padding: 20px 60px;
    position: relative;
    z-index: 10;
}

.logo img {
    height: 60px;
    width: 200px;
    padding-left: 40px;
    padding-top: 40px;
}


.Senhabox {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-sizing: border-box;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 9.5rem;

}

.Senhabox h2 {
    color: aliceblue;
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;

}

.Senhabox input {
    height: 55px;
    width: 100%;
    color: aliceblue;
    border: none;
    background-color: #333;
    padding-left: 15px;
    outline: none;
    margin-bottom: 25px;
    position: relative;
}

.Senhabox input:hover {
    background-color: #444;
}

.Senhabox button {
    background-color: rgb(253, 18, 18);
    width: 104%;
    height: 45px;
    color: aliceblue;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    transition: transform 0.5s;
    font-weight: bold;
}

.Senhabox button:hover {
    transform: scale(1.02);
    cursor: pointer;
}


    button:disabled {
      background-color: #555;
      cursor: not-allowed;
    }

    #msgErro {
      color: red;
      font-size: 14px;
      display: none;
      margin-top: -10px;
      margin-bottom: 10px;
    }


 /* ===================== MEDIA QUERIES ===================== */

/* CELULARES PEQUENOS (até 480px) */
@media (max-width: 480px) {
    .Senhabox {
        padding: 30px;
        max-width: 95%;
    }

    .Senhabox h2 {
        font-size: 22px;
    }

    .Senhabox input {
        height: 45px;
        font-size: 14px;
    }

    .Senhabox button {
        height: 40px;
        font-size: 14px;
    }
}

/* CELULARES GRANDES E TABLETS PEQUENOS (até 768px) */
@media (max-width: 768px) {
    .Senhabox {
        padding: 40px;
        max-width: 400px;
    }

    .Senhabox h2 {
        font-size: 28px;
    }

    .Senhabox input {
        height: 50px;
        font-size: 15px;
    }

    .Senhabox button {
        height: 45px;
        font-size: 15px;
    }
}

/* TABLETS MÉDIOS (até 1024px) */
@media (max-width: 1024px) {
    .Senhabox {
        padding: 50px;
        max-width: 420px;
    }

    .Senhabox h2 {
        font-size: 30px;
    }

    .Senhabox input {
        height: 50px;
        font-size: 15px;
    }

    .Senhabox button {
        height: 45px;
        font-size: 15px;
    }
}

/* DESKTOP PEQUENO (até 1366px) */
@media (max-width: 1366px) {
    .Senhabox {
        padding: 60px;
        max-width: 450px;
    }

    .Senhabox h2 {
        font-size: 32px;
    }

    .Senhabox input {
        height: 55px;
        font-size: 16px;
    }

    .Senhabox button {
        height: 45px;
        font-size: 16px;
    }
}